* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: #000;
  width: 100%;
  /* display: flex;
  align-items: center;
  padding: 0 20px; */
 
}

.nav-container {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
 
}
/* LOGO LEFT FIX */
.navbar .logo {
  display: flex;
  align-items: center;
   
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;

}

.nav-logo img {
  height: 36px;
  cursor: pointer;
}

.nav-toggle {
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 18px;
  margin-left: auto;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
}

.nav-menu li a:hover {
  color: #00d1ff;
}

/* ---------- MOBILE ---------- */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

   .nav-menu {
    position: absolute;
    top: 60px;
    left: 0;
    background: #000;
    width: 50%;
                /* 🔥 HALF PAGE */
    overflow-y: auto;          /* 🔥 SCROLL */
    flex-direction: column;
    display: none;
    padding: 10px 0;
    z-index: 999;
  }

  .nav-menu.show {
    display: flex;
  }

  .nav-menu li {
    padding: 12px 20px;
  }
}
