* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;

  /* Mobile app style sky-blue background */
  background: linear-gradient(to bottom, #6ec6ff, #b3e5fc);

  min-height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 0;

  padding-top: 70px; /* status bar space */
}

/* Card */
.card {
  width: 96%;
  max-width: 440px;

  background: #fff;
  padding: 36px 26px;
  border-radius: 26px;

  text-align: center;
  box-shadow: 0 18px 45px rgba(0,0,0,0.28);
}

/* Logo */
.card img {
  width: 80px;
  margin-bottom: 14px;
}

/* Heading */
.card h2 {
  margin: 10px 0 22px;
}

/* Inputs */
input {
  width: 100%;
  padding: 16px;
  margin: 12px 0;

  border-radius: 14px;
  border: 1.5px solid #ddd;
  font-size: 15px;
}

input:focus {
  outline: none;
  border-color: #6a11cb;
}

/* Buttons */
button {
  width: 100%;
  padding: 16px;
  margin-top: 18px;

  border-radius: 30px;
  border: none;

  font-size: 16px;
  font-weight: bold;
  color: #fff;

  background: linear-gradient(to right, #6a11cb, #2575fc);
  box-shadow: 0 10px 26px rgba(0,0,0,0.25);

  cursor: pointer;
}

/* Link */
.link {
  display: block;
  margin-top: 18px;
  font-size: 14px;
  text-decoration: none;
  color: #555;
}

/* Extra small phones */
@media (max-width: 360px) {
  .card {
    padding: 30px 20px;
  }
}
